[2016-07-06 22:01] dcancel opened #4 "Code Analysis Feedback"
![image](https://cloud.githubusercontent.com/assets/2036/16636020/82782ab6-43a3-11e6-9c5f-b35775148139.png)

![image](https://cloud.githubusercontent.com/assets/2036/16636029/8f39748a-43a3-11e6-9244-b25e754858c3.png)

![image](https://cloud.githubusercontent.com/assets/2036/16636033/95d9d1ae-43a3-11e6-8fc8-27aba5f60b12.png)

![image](https://cloud.githubusercontent.com/assets/2036/16636040/9adc382

[2016-12-06 15:27] jschwendt opened #9 "iOS 8 compatibility"
Currently the Podspec lists iOS 9 as the minimum SDK.  Any chance you can roll that back to iOS 8?  We generally support n-2 at this point in the cycle.  I can't see any dependencies that would be negatively affected by this change.

[2016-12-06 15:46] jschwendt opened #10 "Swift 3.0 Syntax"
I'm getting error from the swift convertor saying that the Drift project is not Swift 3.0 compatible out of the box.  It looks like it's half upgraded.  Can you double check to ensure it's fully updated to avoid this issue?

[2016-12-06 15:48] eoinoconnell commented on #10
Hi @jschwendt how are you installing the SDK? If you using cocoa pods you will need to use `pod 'Drift-SDK', :git => 'https://github.com/Driftt/drift-sdk-ios.git'` for now as we have yet to send it to the main cocoa pods repo

[2016-12-06 15:54] jschwendt commented on #10
Yes, that's exactly what I'm doing.

[2016-12-06 15:59] eoinoconnell commented on #9
Just looking into this for you now

[2016-12-06 16:00] eoinoconnell commented on #10
Ok great, was working for me but ill take another look. Anything out of ordinary with your setup?

[2016-12-06 16:03] jschwendt commented on #10
No...pretty straight forward.  Note that I'm integrating this into an Objective C project, so I had to add "use_frameworks!" to my Podfile.  You might need to fully clean your environment in order to reproduce.

[2016-12-06 17:10] eoinoconnell commented on #9
This is solved in #12

[2016-12-06 17:10] #9 closed, assigned to nobody

[2016-12-06 17:12] eoinoconnell commented on #10
Hi @jschwendt I think we found the issue, it looks like it was solved in cocoa pods V1.1.1 which was recently released, can you confirm your version for me?

[2016-12-06 17:21] jschwendt commented on #10
Yes, I'm on 1.1.1 as well.  Sounds like we found the culprit 👍

[2016-12-06 17:23] eoinoconnell commented on #10
hi @jschwendt ok great, was cocoa pods the issue?

[2016-12-06 18:03] jschwendt opened #14 "Ability to present conversation list non-modally"
Currently the conversation list can only be brought up in a full screen modal.  We're looking to add it to our app as a tab on a tabViewController.  Can you allow for support of this type of presentation?  It should be a fairly light-weight add.  We're looking to make chat be a front-and-center feature :)

[2016-12-06 18:04] jschwendt opened #15 "Ability to query for how many unread messages/conversations there are"
We're looking to present the conversation list on a tab.  We'd like to badge the tab with a count of unread messages/conversations to draw attention to it.  There wouldn't be any UI associated with this call...simply a quick call with a block to handle the async response.

[2016-12-06 23:15] jschwendt commented on #14
At the very least, perhaps a delegate method for when the user dismisses the modal.  This wouldn't be the best UX, but at least workable.

[2016-12-07 22:57] jschwendt commented on #10
So that didn't appear to fix it.  When I pull down this pod, I find that I have to fix about 20 things.  The fall under two different categories.  The first has to do with "_map" vs. "map".  The second has to do with extraneous "urlstring:" params.  I'm able to recover from this by manually fixing each item, but it happens each and every time I run a pod update since I'm always pulling from a spec

[2016-12-08 13:38] eoinoconnell commented on #10
Hi @jschwendt That seems odd, we're testing it here without any issues, can you give me an example of where exactly its asking you to update the code?

[2016-12-12 18:41] jschwendt commented on #10
Here's a step by step set of screenshots of what I encounter every time I run pod update with my project.  When I remove the Drift Pod, this all goes away.  Note that I'm using an Objective C project with many other pods included.  To make matters worse, when I go to build for a device, all of the frameworks have to be signed each time, so my build times have gone from 10 seconds to 4 minutes due

[2017-03-13 19:24] AndrewBarba opened #20 "Release version 1.0.0 to spec repo"
Can you guys please release version 1.0 so we can install with CocoaPods?

[2017-03-13 19:25] AndrewBarba opened #21 "Instructions on where to find an embed id"
Can you provide real instructions on where to find the embed id? Currently it links to settings page in web app which isn't helpful

[2017-03-14 19:30] eoinoconnell commented on #21
Hi, sorry that actually changed recently, we are working on adding it back to settings but for now your best bet is to talk to support

[2017-03-14 19:31] #21 closed, assigned to nobody

[2017-03-14 19:34] eoinoconnell commented on #20
Hi, we are still working towards 1.0 but for now you could use 0.0.3

[2017-03-20 12:43] ghost opened #22 "Change pod name"
Looks like it has to be **pod 'Drift'** instead of **pod 'Drift-SDK'**

[2017-03-23 15:52] eoinoconnell commented on #22
Hi, that should be fixed for you now, thanks !

[2017-03-23 15:52] #22 closed, assigned to nobody

[2017-03-23 15:52] eoinoconnell commented on #20
@AndrewBarba That should be fixed for you now, sorry about the delay

[2017-03-23 15:52] #20 closed, assigned to nobody

[2017-04-20 07:45] alaamonther commented on #21
go to settings > live chat > install > javascript, look for a text that says `drift.load('<app id here>')`

this answer from their support team.

[2017-06-02 23:11] magnusja commented on #14
+1

[2017-06-02 23:14] maakle commented on #14
Would greatly appreciate a solution for that as well! I want to show a tab bar below.

[2017-07-18 06:06] Abhishek-weboniselab opened #25 "Build Issue With Drift"
Hello Team,
I have installed your library using pods and compiling the code in Xcode 8.2.1, but it gives me below error:
The following binaries use incompatible versions of Swift:
/Users/webonise/Library/Developer/Xcode/DerivedData/MyAppName-boitjuuxzbvjagccgybzbdwcptue/Build/Products/Debug-iphonesimulator/MyAppName.app/MyAppName
/Users/webonise/Library/Developer/Xcode/DerivedData/MyAppName-boitju

[2017-07-18 10:16] eoinoconnell commented on #25
Hey @Abhishek-weboniselab, What version of swift are you using? The library is built on swift 3.

It may be worth updating to 8.3 also,

Thanks

[2017-07-18 12:10] Abhishek-weboniselab commented on #25
Thanks for replying.
I was running chart library with swift 2.3 code which caused error.

[2017-07-18 13:43] eoinoconnell commented on #25
No problem!

[2017-07-18 13:43] #25 closed, assigned to nobody

[2017-07-18 15:13] odedharth opened #26 "Present a specific conversation"
Would have been great if I could present a specific conversation.

[2017-07-31 09:33] eoinoconnell commented on #26
Hey, this is not on the current roadmap I'm afraid. What would the use case be for you out of interest?

[2017-07-31 16:47] odedharth commented on #26
For example, if I have 2 support channels - customer support & medical support. This would let me display the relevant support channel.

[2017-08-11 02:08] timcorpa opened #27 "Conversation VC on client side not updating"
When you have a conversation with the client and you send a new message the client has to go back to list view or change view to update. Being a live chat you shouldn't have to?

[2017-08-11 10:46] brianmcdon commented on #27
@timcorpa you certainly shouldn't have to, live chat messages should be shown as long as the client has an internet connection which is indicated by the slim bar on top of the Conversation view (Green for connected, red for disconnected). Has the client received any messages without having to change back to the list view?

[2017-08-11 20:13] timcorpa commented on #27
@brianmcdon that's the thing. When you start a chat. On the client side they don't receive the messages unless they switch view. Appreciate the help! Thanks!

[2017-08-14 10:14] brianmcdon commented on #27
@timcorpa ok thanks. Can you confirm you see the slim green bar as in the attached image when the issue occurs?
![drift](https://user-images.githubusercontent.com/1974207/29267695-ab038b2a-80e1-11e7-98ea-fcca93855844.jpg)

[2017-08-14 19:38] timcorpa commented on #27
@brianmcdon client side no I don't see that green bar. Only on our side. What am I missing?

![img_3017](https://user-images.githubusercontent.com/13125414/29288434-958d8ec4-80ed-11e7-8748-61806f29ecde.PNG)

[2017-08-15 09:56] brianmcdon commented on #27
@timcorpa thanks for the screenshot, which version (version number) of the SDK are you using? Also have you had the same issue on a non iOS 11 device?

[2017-08-15 19:58] timcorpa commented on #27
@brianmcdon Thanks! we are using  'Drift', '~> 1.0.1' SDK version. We have only tried iOS as thats where our focus is right now.

[2017-08-15 21:04] brianmcdon commented on #27
@timcorpa can you try 1.1.0 and see if that resolves the issue. I see our readme is out of date and still recommends 1.0.1

[2017-08-16 01:24] timcorpa commented on #27
@brianmcdon Worked thank you! It was the version issue after all.

[2017-08-16 08:41] #27 closed, assigned to nobody

[2017-08-16 11:00] #4 closed, assigned to eoinoconnell

[2017-09-21 09:35] pravishanth opened #31 "linker command failed with exit code 1 (use -v to see invocation"
Downloaded your drift-idk-ios folder, ran pod install.
 when I build it in Xcode I get the error " linker command failed with exit code 1 (use -v to see invocation"

[2017-09-21 09:36] eoinoconnell commented on #31
Hi, What directory did you run pod install on. Are you trying to run the example application?

[2017-09-21 09:40] pravishanth commented on #31
Wow thats quick response!!

Yeah, I am trying to run example application, ran pod install on master folder which has the pod file. And then opened .xcworkspace, I get the the error when I run the application in Xcode, " linker command failed with exit code 1 (use -v to see invocation"

[2017-09-21 09:42] eoinoconnell commented on #31
Heh yeah!

So you want to navigate to Example/SDKExample/ and run pod install on that pod file and then you should be able to run SDKExample.xcworkspace

Ill check on my end too, what Xcode are you using?

[2017-09-21 09:43] pravishanth commented on #31
Xcode 8.3.3

[2017-09-21 09:46] eoinoconnell commented on #31
Ok cool, thats working for me against Xcode 9. Did that work for you in the new directory?

[2017-09-21 09:56] pravishanth commented on #31
The example app loaded successfully, it shows a loading icon, I guess I need to create an account.  Will follow the readme instructions and try it.

[2017-09-21 09:57] eoinoconnell commented on #31
Yeah you will need to get your embed id from settings to use the SDK I'm afraid

[2017-09-21 10:00] eoinoconnell commented on #31
You should be all set for now, I'll close this for now and let us know if you have any other issues

[2017-09-21 10:00] #31 closed, assigned to nobody

[2017-09-26 16:32] AndrewBarba opened #32 "Update ObjectMapper to version 3.0 so it's compatible with Swift 4 projects"
Currently if we are building an app in Swift 4, ObjectMapper will fail to build. Can you update to the latest version of ObjectMapper?

[2017-09-26 16:59] eoinoconnell commented on #32
Hey, ill take a look tomorrow and get back to you asap

[2017-09-27 17:05] eoinoconnell commented on #32
Hey, version 1.2.0 went live there and should work for you. Let me know if you have any other issues.

[2017-09-27 17:05] #32 closed, assigned to nobody

[2017-09-27 17:06] AndrewBarba commented on #32
Amazing thank you!

[2017-10-04 11:30] audungk opened #34 "Adding messages to an existing chat crashes the app"
If you try to write and submit a new message to an existing chat, it crashes Drift. This happens in both simulator and device(iPhone 7+, iOS11.01)

[2017-10-04 11:42] brianmcdon commented on #34
Hi Audun, are you seeing this behaviour in the example app or in your own app with the Drift SDK installed?
Also it would be great if you could provide a stacktrace to help us track down the issue.

[2017-10-04 11:53] audungk commented on #34
The example app doesn't build in XCode9 yet, so this is from our integration. I'll try to get a Stacktrace!

[2017-10-04 12:04] audungk commented on #34
[code]

[2017-10-04 12:04] audungk commented on #34
<img width="327" alt="screen shot 2017-10-04 at 14 03 58" src="https://user-images.githubusercontent.com/150725/31174768-f94e40e2-a90c-11e7-9fd6-49a0f6f66283.png">

[2017-10-04 12:15] audungk commented on #34
[code]

FWIW, it seems like it shouldn't be possible to add messages here?

[2017-10-04 13:10] brianmcdon commented on #34
Great thanks for the info to help with debugging.
The Example should run in Xcode 9. You will need to ensure that the Drift target is being built with `Swift Language Version` -> `Swift 4.0`
![screen shot 2017-10-04 at 14 05 51](https://user-images.githubusercontent.com/1974207/31177281-73876762-a90d-11e7-868a-2892f20bc313.png)

[2017-10-04 17:04] audungk commented on #34
It crashes in the example-app as well. Could it be because we are on a free account for Drift?

[2017-10-05 12:45] eoinoconnell commented on #34
Hey @audungk, I was able to reproduce the crash for when posting the message fails so I will get a release together to resolve that. I will continue to look into why your account is failing to post and get back to you

[2017-10-05 13:32] eoinoconnell commented on #34
Hey @audungk, mind if I send a few messages to your org to try reproduce the issue?

[2017-10-06 12:00] audungk commented on #34
Please do! Let me know if there is anything we can do to help!

[2017-10-09 16:53] eoinoconnell commented on #34
Hi @audungk sorry for the delay, I just checked out the app there and it seems to work with me for your org. Can you try 1.2.1 and see if it works for you?

[2017-10-09 19:38] eoinoconnell commented on #34
Hi @audungk sorry about the wait, I was able to reproduce your issue and pushed 1.2.2 to resolve the issue for you. Let me know if you have any other issues.

[2017-10-09 19:38] #34 closed, assigned to nobody

[2017-10-10 10:00] audungk commented on #34
No other issues so far, thanks for all your help!

[2017-11-06 19:13] audungk opened #37 "ConversationViewController fails building in v. 1.2.2"
When building with Drift as a Pod under the latest Xcode, v.1.2.2 complains:
_A non-failable initializer cannot delegate to failable initializer 'init(tableViewStyle:)' written with 'init?'_

For reference, lines 72-75
[code]

[2017-11-07 14:56] eoinoconnell commented on #37
Hi there, sorry about the delay, v1.2.3 should be available now to resolve this for you

[2017-11-07 14:56] #37 closed, assigned to nobody

[2017-11-07 14:56] #10 closed, assigned to nobody

[2017-11-24 23:30] kimjune01 commented on #14
+1

[2017-12-22 13:29] tancor opened #43 "Crash"
Hi,
my app crashes sometimes at ObjectValidator.swift with EXC_BREAKPOINT when accessing to pointer.pointee after deallocating the pointer.
[code]

[2017-12-22 16:28] brianmcdon commented on #43
Thanks @tancor. Are you seeing this taking a particular action or on app launch.

[2017-12-23 13:46] tancor commented on #43
Thank you for the response.
This happens on app launch.

[2018-01-02 11:31] brianmcdon commented on #43
@tancor please try the newly released version 1.2.7

[2018-01-02 11:47] #43 closed, assigned to brianmcdon

[2018-01-24 08:20] ghost opened #46 "Crash after initialization"
Hi,
My app crashes after initialization.
Here is my crash and stack trace
<img width="1440" alt="screen shot 2018-01-24 at 11 04 46" src="https://user-images.githubusercontent.com/35760383/35321649-759c74dc-00f8-11e8-9752-fa62b39387f4.png">

Thank you

[2018-01-24 08:55] ghost commented on #46
I figured out that server response is {"key":"BadRequest","status":"error","message":"Invalid email format or length.","requestId":"2482709be4f64c81b5adb58425aeb7b0","errors":[]}

Going to modify my emails before logging in.
But I'll leave this issue for you because the crash still exists.

[2018-03-30 15:39] shastrikikitchen opened #49 "All Archive campaign are visible for most of the User."
Hi, even after the fix in 2.0 which says "Removed deprecated NPS Campaigns" There is another thing which is showing all the archived campaigns  which are getting displayed to users. Can you please look into the issue , our release is blocked due to your unwanted issue. Hope you guys fix it as soon as possible.

[2018-03-30 17:03] eoinoconnell commented on #49
Hi there, just talked to the automation team here. So if a campaign / playbook is delivered to a user it will not disappear once a campaign is archived so as it doesn't disappear from the users conversation lists etc. Once the user dismisses or responds to the campaign it should no longer appear. One thing to note is for testing purposes if the SDK is in debug mode the campaign will not be marked

[2018-03-30 18:57] shastrikikitchen commented on #49
Issue is strange, app is not in debug mode, very old campaigns are coming to old users, we can share the screen shots
![img_0197](https://user-images.githubusercontent.com/21083457/38149921-39b8334c-347a-11e8-81ca-f36e8191fd24.PNG)
![img_0229](https://user-images.githubusercontent.com/21083457/38149922-39f5d792-347a-11e8-9174-fadfb5d34096.PNG)
![img_0230](https://user-images.githubusercontent.com/

[2018-03-30 18:59] eoinoconnell commented on #49
Thats great thanks, I think we have a solution, I got some more context from Julie and should have something for you soon

[2018-03-30 19:01] shastrikikitchen commented on #49
Thanks, waiting for an update soon.

[2018-03-30 19:26] eoinoconnell commented on #49
Hello, we believe we have a fix for this issue but are still running tests, could you try this version and let us know if the issue persists:

[code]

This is not meant for release, that will follow once we complete testing

[2018-03-30 20:16] eoinoconnell commented on #49
You will also need to use
[code]

During setup

[2018-03-31 12:12] shastrikikitchen commented on #49
We are not able to integrate the above branch

[2018-03-31 13:42] eoinoconnell commented on #49
Could you elaborate? Are you getting an error through cocoa pods or Xcode?

[2018-04-02 04:27] shastrikikitchen commented on #49
we are getting error through cocoa pods
Pre-downloading: `Drift` from `git@github.com:8bytes/drift-sdk-ios`, branch `release2.1`
[!] Error installing Drift
[!] Failed to download 'Drift'.

[2018-04-02 13:47] eoinoconnell commented on #49
Hey, that seems strange, we just pushed release 2.1 that should fix the issue for you so you can use that: `pod 'Drift', '~> 2.1'`

[2018-04-10 09:33] audungk opened #51 "Add private keywords to functions and remove references to IBDesignable in SDK"
When integrating Driftt via Cocoapods, there are some issues that are mildly frustrating at the current version. Due to the lack of `private` declarations in the code base, some of the functions declared in drift bleed into the codebase embedding Drift. This should mostly be no problem, but there are some extensions in Drift named similarly to extensions that can be imagined used in a hosting code

[2018-04-10 16:08] brianmcdon commented on #51
Thanks @audungk. We'll take a look and keep you updated.

[2018-04-18 13:00] #51 closed, assigned to nobody

[2018-04-18 13:00] #49 closed, assigned to nobody

[2018-05-02 09:30] PinkalBaleshwaria opened #56 "Register User Error"
Hi,
I want to show to user conversation in my application.
[Drift setup:@""]; is not working, it gives error in log
"The operation couldn’t be completed. (Drift.DriftError error 0.)"

And While calling registerUser function is also gives error:
"No Embed, not registering user - Waiting for Embeds to complete"
Can you help me for this?

Thanks

[2018-05-02 14:26] eoinoconnell commented on #56
Hey, yeah of course, I'll need a bit more information from you I'm afraid.

Could I get some code and your embed Id so I can reproduce it on my end?

If you could send it in chat here: https://drift.me/trex so that its not public that would be great,

Thanks

[2018-05-03 05:16] PinkalBaleshwaria commented on #56
Hi, it is resolved. There was an issue with cocoapod's version. So after updating to latest cocoapod version it's working now.

Thanks for quick response :)

[2018-05-03 05:16] #56 closed, assigned to nobody

[2018-05-15 18:44] audungk opened #57 "Add a callback to register user"
Currently, it is not possible to delay the user registration until you want to show a conversation view. With a callback, it would enable you to not spend all your active contacts on users who never messages you, but only those who actually do. Is this something you would consider?

[2018-05-17 21:08] eoinoconnell commented on #57
Hey, sorry for the delay in getting back to you. Unfortunately it's not a current priority but we will definitely consider it for the future

[2018-05-17 21:08] #57 closed, assigned to nobody

[2018-07-18 06:12] msalmanST opened #58 "Anonymous Chat Just like web"
Hi,

I want my app users to get help even without gets logged in to the app, so I don't want to ask for email address, is there a way to achieve this i.e start chat without providing email address.

Thanks

[2018-07-18 09:10] eoinoconnell commented on #58
Hi,

 I'm afraid this is currently not support in the SDK. As of now we don't have plans of adding that feature but I will take note of your request for when we plan out the next release

[2018-07-18 09:10] #58 closed, assigned to nobody

[2018-07-18 09:34] msalmanST commented on #58
Thanks for your quick response, one more question, is there a way to pass some user information to the agent before we start the session so that agent wont ask any basic question

[2018-07-19 14:28] eoinoconnell commented on #58
Hi sorry this slipped by me, I'm afraid that is also not currently support I'm afraid

[2018-07-30 16:33] #26 closed, assigned to nobody

[2018-09-25 23:25] D-Mx opened #62 "Support Carthage"
Hello,

Can we get Carthage support?

[2018-09-27 23:17] D-Mx commented on #14
+1

[2018-09-28 05:21] D-Mx opened #63 "Tapping on ConversationInputTextView pushes view up"
Hello,

We are getting a weird behavior where whenever we tap the input textfield the conversation content view gets pushed up but it only seems to happen three times then it stops moving.

<img width="461" alt="screen shot 2018-09-28 at 12 10 06 am" src="https://user-images.githubusercontent.com/409270/46189449-4c038100-c2b4-11e8-83a2-7d7c425af8b9.png">

<img width="1382" alt="screen shot 2018-09

[2018-09-28 08:06] eoinoconnell commented on #63
Hi, thanks for that ill take a look. Does this happen on a physical device at all?

[2018-09-28 08:09] eoinoconnell commented on #62
Hi, let me see what I can do, I won't be able to get to it today but will take a look early next week

[2018-09-30 00:35] D-Mx commented on #63
Oh I see, yeah on a physical device it is working properly. I guess the problem is that the keyboard is not appearing in the simulator so the view goes up to accommodate the keyboard showing but since it's not displaying it is also missing a hidding event when tapping outside so the view never goes down.

Well, it works. Thanks for answering.

[2018-09-30 00:41] D-Mx commented on #62
Thanks. I gave it a try but the cocoapods integration and dependencies in the framework were interfering with the carthage build. Ended up removing cocoapods in a fork for it to work.

[2018-09-30 07:51] #63 closed, assigned to nobody

[2018-10-01 14:43] eoinoconnell commented on #62
Hi, I took a look at this this morning and you are correct. As the project is currently structured having Carthage and CocoaPods support seems pretty complex. Theres no quick fix for this I'm afraid. I will try get it into the next feature release but there is currently no timeline for that

[2018-10-01 14:43] #62 closed, assigned to nobody

[2018-10-30 11:43] HabibAli opened #64 "Coversation is not updating in real time"
Conversation is not updating real time. I have to go back and forth to get the updated conversation. Am I doing something wrong

[2018-10-31 12:32] eoinoconnell commented on #64
This should be resolved as of version 2.2.4

[2018-10-31 12:32] #64 closed, assigned to nobody

[2018-11-15 03:31] HabibAliAtFolio3 opened #66 "Please update your read me to mention where we can get setup id"
Please update your read me to mention where we can get setup id

[2018-11-15 08:11] brianmcdon commented on #66
Hi, your setup Id can be found by clicking the the link below and following the steps:
https://app.drift.com/settings/livechat

- Choose "Install"
- Choose "JavaScript"
- Scroll to the bottom of the JavaScript code and you'll find you setup Id in this line: `drift.load('{your_setup_id}');`

[2018-11-15 08:11] #66 closed, assigned to nobody

[2018-12-31 01:36] yagudaev opened #67 "Push Notifications"
Is there any way to use push notifications in the current SDK? If not, it would be a great feature to add to be able to have a conversation with customers

[2019-01-02 11:24] eoinoconnell commented on #67
Hi, thanks for reaching out but this is not a currently supported feature of the SDK. We don't have a current plan of implementing this but will keep note of your feature request.

[2019-01-02 11:24] #67 closed, assigned to nobody

[2019-01-09 12:34] vamsivannam opened #70 "No chat notifications when drift chat page is dismissed replies not loading"
No chat notifications when drift chat page is dismissed and replies are not appearing on chat view unless navigated back to chat list

[2019-01-10 17:08] eoinoconnell commented on #70
Hi, Sorry for the delay. I haven't been able to reproduce this on my side.

Could you clarify the issue with steps to reproduce it?

[2019-01-21 20:14] bradenboothby commented on #70
i have the same issue

[2019-01-21 20:14] bradenboothby opened #73 "Push Notification Support"
can you add push notification support for when a new message is received?

[2019-01-22 10:44] eoinoconnell commented on #73
Hi there. This is currently not a supported feature I'm afraid. I have taken note of your request but this is not currently on our immediate roadmap

[2019-01-22 10:44] #73 closed, assigned to nobody

[2019-01-22 11:20] eoinoconnell commented on #70
Hi @bradenboothby, thanks for the report, do you have any more information on this issue and how you are reproducing it?

[2019-01-23 12:36] eoinoconnell commented on #70
This should now be resolved in version 2.2.7 which is now on cocoapods

[2019-01-23 12:36] #70 closed, assigned to nobody

[2019-01-24 03:07] bradenboothby commented on #70
I have updated through cocoapods, and I still have the same issue

[2019-01-24 07:41] eoinoconnell commented on #70
Hi @bradenboothby, can you provide steps in order to reproduce this?

[2019-02-09 17:56] cldt-fr opened #75 "Localization support 🙏"
Hello Drift Team,

Can you add FR language to the UI please ?

Thank you in advance

[2019-02-12 16:19] eoinoconnell commented on #75
Hi, I'm afraid this is not currently on our roadmap but I will take note and get to it as soon as I can but I don't currently have a timeline for you.

Nice react native library by the way! 👍

[2019-02-12 16:19] #75 closed, assigned to nobody

[2019-06-15 17:22] aalemayhu opened #85 "Support localization"
Hei,

the view loaded via `Drift.showCreateConversation()` has the strings in English. Do you have any way to use the same language as the Javascript widget?

Thanks.

[2019-06-25 10:31] eoinoconnell commented on #85
Hi,

I'm afraid this is something we don't currently support with the SDK's, your best approach may be to fork the SDK to add your own localisations.

I will keep note of the request but I'm afraid it is not on our current roadmap

Thanks

[2019-06-25 10:31] #85 closed, assigned to nobody

[2019-06-25 10:31] #46 closed, assigned to nobody

[2019-09-23 11:58] FerrariBruno opened #87 "Are real names a possibility?"
Hello, I've read the documentation and issues extensively and implemented the integration with Drift in my iOS app as instructed.

However, I noticed users that contact me through Drift on iOS don't have their real names (for example, I keep seeing "Brian Best" as a name). Is there currently any way to ask the user for his/her real name so we can avoid having fictional names?

Thank you!

[2019-10-03 15:56] eoinoconnell commented on #87
Hi, sorry for the delay in getting back to you. The SDK itself does not create names for the end users, this would be done from the drift backend. Fictional names are not created, maybe its pulling them from a salesforce integration?

[2019-10-03 16:03] FerrariBruno commented on #87
We do not have any integration with Salesforce or anything alike. I'm guessing Drift's backend is somehow creating fictional names?

[2019-10-03 16:04] eoinoconnell commented on #87
Hi, Drift doesn't currently create fictional names, it may be recognising the email address of the end users somehow? I recon your best bet would be to reach out to drift support I'm afraid that should be able to give you more information. Sorry I can't be more help

[2019-10-03 16:49] FerrariBruno commented on #87
No problem, thank you for your time

[2019-10-03 17:04] #87 closed, assigned to nobody

[2019-10-14 12:56] seanhaufler opened #89 "UI is broken when dark mode is enabled on iOS 13"
When composing a message, the typed text is white on a white background. There are also other instances of dark mode making the UI look strange.

[2019-10-14 16:25] eoinoconnell commented on #89
Hey, thanks for letting us know, ill try get this tomorrow and get an update together for you

[2019-10-15 16:54] eoinoconnell commented on #89
Didn't get this rounded out today but will hopefully get it complete tomorrow

[2019-10-16 13:34] eoinoconnell commented on #89
Hi @seanhaufler, thanks again for the heads up, version 2.2.11 is now released that adds support for dark mode. Let me know if you have any other issues

[2019-10-16 13:34] #89 closed, assigned to nobody

[2019-10-31 15:21] immprabath opened #92 "Type 'UIColor' has no member 'label'"
I was trying to install pod and I cannot run the app

[2019-10-31 15:22] eoinoconnell commented on #92
Hello, what version of Xcode are you using?

[2019-12-15 05:11] vuhoangha commented on #92
I have the same issue, I'm using Xcode 10.3

[2019-12-15 05:27] vuhoangha opened #93 "Undefined symbols for architecture x86_64"
I tried installing drift-sdk-ios module with pod version 1.8.4 and xcode 11.3 but it didn't worked. Xcode displayed errors:
[code]
Please help me. Thank you!

[2019-12-15 12:20] immprabath commented on #92
11.2

On Thu, Oct 31, 2019 at 12:52 PM eoinoconnell <notifications@github.com>
wrote:

--
Madusanka Prabath.

Bsc(Special) Computer Science & Technology,

[2019-12-16 08:58] eoinoconnell commented on #92
Are you building against iOS 13? Xcode 11 should be used in order to use the up to date sdk

[2019-12-16 09:05] eoinoconnell commented on #93
Hello, how strange. Does this happen when using the example app in the repo? What version of the SDK are you using? I assume 1.8.4 is your cocoa pods version

[2019-12-16 09:09] vuhoangha commented on #93
No, I'm using my project. I used version 2.2.11 of drift-sdk-ios. My cocoa pods version is 1.8.4

[2019-12-16 09:10] eoinoconnell commented on #93
Can you please try the example project to see if it happens there also?

It sounds like it might be a conflict with dependencies

[2019-12-16 09:24] vuhoangha commented on #93
I try running the example but I see errors
<img width="952" alt="Screen Shot 2019-12-16 at 4 21 25 PM" src="https://user-images.githubusercontent.com/13416448/70894800-524c5d00-2020-11ea-94c5-e0687050c23b.png">

[2019-12-16 09:26] eoinoconnell commented on #93
Just to confirm you opened the workspace and not the project file ye?

[2019-12-16 09:50] vuhoangha commented on #93
I am not an ios programmer, I am a react native developer. So there are many things I don't understand about ios. If you need me to provide any additional information so you can spot the error, I'd be happy to. Thank you!

[2019-12-16 09:53] vuhoangha commented on #93
I went to SDKExample folder and run "Pod install". Then I opened SDKExample.xcworkspace and run it. Is it right?

[2019-12-16 15:20] eoinoconnell commented on #93
Yeah that should be it. Have you made any changes to your system or anything. It seems to be not able to find String.swift which seems rather strange. Do you have a custom installation of swift on your machine?

[2019-12-16 15:51] vuhoangha commented on #93
I add lines on file Podfile
[code]
Then I deleted Pods folder, ran "pod install" and built it. I tried running on 3 different computer but I got the same error

[2019-12-17 18:00] eoinoconnell commented on #93
is there any other dependencies in your pod file? how come you are using `modular_headers` for the progress hud?

[2019-12-18 03:31] vuhoangha commented on #93
I added `modular_headers ` because I got an error when I ran `pod install`

[code]

[2019-12-18 09:27] eoinoconnell commented on #93
Ah ok, do you have `use_frameworks!` at the top of your podfile? If not could you add it, remove the `modular_headers` and try again?

[2019-12-20 03:27] Phu-Hoang opened #94 "Can someone help me fix this? I installed the drift-sdk-ios module but it didn't work. show error:"
error Failed to build iOS project. We ran "xcodebuild" command but it exited with error code 65. To debug build logs further, consider building your app with Xcode.app, by opening appxcworkspace

** BUILD FAILED **

The following build commands failed:
        CompileC /Users/user/app/ios/build/app/Build/Intermediates.noindex/RNDrift.build/Debug-iphonesimulator/RNDrift.build/Objects-normal/x86_64/

[2019-12-20 09:55] eoinoconnell commented on #94
Hello, how are you integrating the drift sdk into your project?

[2019-12-23 02:20] Phu-Hoang commented on #94
I used use_frameworks and add pod 'Drift', '~> 2.2.1' at Podfile

[2019-12-30 06:38] Phu-Hoang commented on #93
Currently most libraries discourage using use_frameworks!. Do you have any other solutions?

[2020-01-13 10:26] eoinoconnell commented on #93
Hi, currently we only support use_frameworks I'm afraid

[2020-01-22 15:17] sjoness opened #96 "Cartfile needs to be updated for Carthage users"
The `Cartfile` is quite out-of-date which means installing this SDK with Carthage causes an error thrown, due to the nested dependencies targeting old versions, not supported in Xcode 11 / Swift 5+.

This `Cartfile` below matches the dependency versions from the `Podfile`

[code]

[2020-02-03 15:20] eoinoconnell commented on #96
Hi, thanks for the feedback, we currently don't support Carthage actively. We will look into adding it in a future release. The current Cartfile shouldn't be on the repo.

[2020-02-03 15:20] #96 closed, assigned to nobody

[2020-02-11 06:15] ianmark89 opened #98 "Pre-filled message"
We want to prefill some text when user open Conversation dialog. We can easily do that with Intercom before, how can we do with Drift?

[2020-02-14 18:16] ushernut opened #99 "Drift pod 2.3.0 has 9 compile error"
After pod installed, run build, it gives 9 compile error on Drift right away, here is the first one:

/Users/simon/Development/DuPro/dupro_ios/Pods/Drift/Drift/Birdsong/Socket.swift:154:1: Type 'Socket' does not conform to protocol 'WebSocketDelegate'
/Users/simon/Development/DuPro/dupro_ios/Pods/Drift/Drift/Birdsong/Socket.swift:33:23: Value of type 'WebSocket' has no member 'isConnected'

Looks

[2020-02-18 09:43] eoinoconnell commented on #99
Hi, sorry for the delay, yes you are correct, it is actually due to a Starscream moving to 4.0.

We have the resolved in the master branch but are still testing before we release a version so you could use that for the moment

[2020-02-18 09:44] eoinoconnell commented on #98
Hi, This is not something that is currently supported, let me see what I can do and I will get back to you

[2020-02-18 11:34] #92 closed, assigned to nobody

[2020-02-18 13:05] eoinoconnell commented on #98
Hi, thats now live in master and will be in an upcoming release.

[2020-02-18 13:05] #98 closed, assigned to nobody

[2020-02-22 13:37] MarcoDaniele commented on #99
I have the same problem. how can I solve this?

[2020-02-23 10:35] MarcoDaniele commented on #99
Found the solution myself 👍🏻, just write your Podfile like this:
`pod 'Drift', '2.3.0'`
`pod 'Starscream', '3.1.1'`

or just use the master branch:
`pod 'Drift', :git=>'https://github.com/Driftt/drift-sdk-ios.git'`

[2020-02-24 04:59] ushernut commented on #99
After compiling and start the conversation, it just keep display loading... does that happen to you as well? @MarcoDaniele

[2020-02-24 12:33] eoinoconnell commented on #99
Hi @ushernut , can you confirm you have setup the SDK with an embedId and user before opening the conversation views?

[2020-02-24 12:44] eoinoconnell commented on #99
Version 2.3.1 of the pod has been released so you should no longer require the pod file work arounds

[2020-03-10 16:40] ianmark89 opened #104 "Push notification"
Drift does not have push notification like Intercom.
Is there any way that we can catch the message and send push notification by our server? (our application setup notification already)

[2020-03-31 10:53] eoinoconnell commented on #104
Hi sorry for the delay, I'm afraid this is not currently supported with the SDK. You could possibly hook into the drift API but this is outside the scope of this SDK I'm afraid.

[2020-03-31 10:53] #104 closed, assigned to nobody

[2020-04-02 01:48] RBasiev opened #107 "'UserDTO' Decoding error: Expected to decode Int64 but found a string/data instead."
Hi!
I recently updated Drift pod to 2.4.0 version, and got the following error with UserDTO decoding (caught by breakpoint).

Function: `DriftManager.75 class func registerUser`
Request: `URL: https://event.api.drift.com/identify`
Response: `{\"id\":\"404cba19856ce46a9f7b1f5ef4409215\",\"userId\":\"1000059\",\"anonymousId\":null,\"companyId\":null,\"internal\":false,\"attributes\":{\"email\":\"rus

[2020-04-02 11:11] eoinoconnell commented on #107
Thanks for that, have that resolved and should be live on Cocoapods in the next 30 mins

Appreciate the help!

[2020-04-02 11:11] #107 closed, assigned to nobody

[2020-04-02 11:42] #99 closed, assigned to nobody

[2020-04-02 11:43] #94 closed, assigned to nobody

[2020-04-02 11:44] eoinoconnell commented on #93
Hi, as of 2.4.0 we now support static building the library so you should no longer need `use_frameworks!`

[2020-04-02 11:44] #93 closed, assigned to nobody

[2020-04-23 19:33] REPTILEHAUS opened #110 "Conversations dont load on first open, Display just 1 conversation even"
In my app I want to use drift to display a single thread rather than multiple - when drifts view is first opened it just displays a loader for ages unless you click to create a new conversation.

Is it possible just to load the same conversation over and over in 1 single thread

[2020-04-27 08:11] eoinoconnell commented on #110
Hi, I'm afraid thats not supported with the SDK. In order to do this we would need to have the conversation before showing the drift sdk within your app which is not supported.

Im unsure as to why the loader is showing for so long for you, do you have a lot of conversations?

[2020-04-30 16:37] REPTILEHAUS commented on #110
No usually no conversations at all, I am using it in the context of an ionic application so I am calling it like so from a custom class
[code]

It has been initialised in the AppDelegate like so in `didFinishLaunchingWithOptions`

[code]

[2020-05-01 18:16] eoinoconnell commented on #110
Strange, does the same thing happen when you use the sample app? Should be quick enough to use the same embed and credentials to check

[2020-07-11 20:31] dfmarulanda opened #111 "Conversation doens't update in real time"
When I send a message to any user; they have to close the conversation in order to receive the new messages.

[2020-07-11 20:33] dfmarulanda commented on #64
I have this issue with the latest version

[2020-07-11 20:51] dfmarulanda opened #112 "What's the state of this SDK?"
I was testing this SDK and seems it's an alpha software; full of bugs, it doesn't implement CORE (chatbots an realtime chat) features of Drift; useless. 4 Years without a real SDK for Drift. Sad.

[2020-08-05 11:19] tarun90 commented on #111
Hi. I am having same issue, got any solution for this yet?

[2020-08-05 16:58] dfmarulanda commented on #111
@tarun90 it seems this SDK is forgotten. Had to ask for 4000USD refund.

[2020-08-05 17:00] tarun90 commented on #111
Thanks for your reply.

So not working as described ?

On Wed, Aug 5, 2020, 10:28 PM Daniel Marulanda <notifications@github.com>
wrote:

[2020-08-11 19:59] HitsiLent commented on #111
me too, same problem

[2021-03-13 03:13] toreeliu opened #113 "AppDelegate Could not load NIB in bundle: 'NSBundle'"
[code]

[2021-03-13 03:17] toreeliu commented on #113
I am using the example in this SDK without any modify except the setup and registerUser in AppDelegate.

[2021-03-13 03:21] toreeliu opened #114 "Push notification"
Is the team think about adding a push notification feature in SDK when the user received message?
Competitors such as livechatinc., freshchat, help scout, help crunch and etc.. have this feature available.

[2021-05-28 05:55] alpesh232 opened #115 "New Messages Popup on App Keep coming after close or leave the conversation from Drift"
I am using drift on my app for giving help support to our customers. But once I close the conversation from https://app.drift.com/ or leave the conversation. It's not close from the app automatically. Every time once I open the app popup keeps coming for a long and every time the user has to dismiss that manually. Get so many complaints from customers also update the pod but still issue is there i

[2021-12-21 21:24] RBasiev commented on #115
I also have this issue. The reason is that read message network task fails with error:
`Error Domain=NSURLErrorDomain Code=-1003 "A server with the specified hostname could not be found."`
failed url: `https://conversation2.api.drift.com/messages/12402467185/read-until?access_token=<value>`

This domain is not available (conversation2 sub), thats why the message keeps presenting onscreen after it

[2022-04-13 18:50] AdamBCo opened #118 "Drift not working properly."
I've added the Drift.setup step with the proper embedID to my AppDelegate, but none of the conversations load and none of the chat messages appear after I send them. All I see is a constant spinning wheel. Are there any other configurations we need to do in order to get the Drift iOS SDK to work?

![IMG_42EB30A55657-1](https://user-images.githubusercontent.com/4572275/163249777-e00c8ee2-1f46-47a6-